.friends-component {
    width: 100%;
    background-color: white;
    margin: 0 auto;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-global{
    margin-top: 20px;
    display: flex;
    width: 70vw;
    align-items: center;
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;

  }
  .search-global input{
    flex-grow: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #333;
  }
  
  .tabs {
    display: flex;
    
    margin-bottom: 20px;
    width: 50vw;
  }
  
  .tab-button {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tab-button.active {
    background-color: #0088cc;
    color: #fff;
  }
  
  .content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #d1d1d1;
    width: 50vw;
    height: 55vh;
    overflow: scroll;
    border-radius: 30px;
  }
  
  .friends-list, .requests-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .friend-item, .request-item {
    width: 50%;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 30px;
    margin: 10px;
  }
  
  .friend-item img, .request-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .request-details {
    flex-grow: 1;
  }
  
  .request-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .request-buttons {
    display: flex;
    gap: 10px;
  }
  
  .accept-button, .reject-button {
    padding: 5px 10px;
    background-color: #0088cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accept-button:hover, .reject-button:hover {
    background-color: #006699;
  }
  